
#main-content-container{
  padding: 0;
}
.container {
  height: 100vh;
}
menu {
  margin: 0;
}
menu#toolbar {
  height: 50px;
  background-color: #444;
  width: 100%;
  color: #fff;
  line-height: 50px;
}
#main-container {
  width   : 100%;
  overflow: auto;
  position: absolute;
  bottom : 0;
  left   : 0;
  right  : 0;
  top    : 0px;
  margin : 0px;
  padding: 0px;
}
#md-editor,
#md-preview {
  width: 50%;
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: #fff;
}
.pull-left {
  float: left;
}
.pull-right {
  float  : right;
  padding: 15px;
  padding-top: 5px;
}
// .ace_gutter, .ace_scroller{
//   top: 15px;
// }
#editor, #preview, #panel-editor, #panel-preview{
  height: 100%;
  width: 100%;
}
#preview{
  border-top: 1px solid #ebeff1;
}
#panel-editor, #panel-preview{
  padding-top: 40px;
  background-color: #444;
}
#panel-preview{
  background-color: @color-bg;
}

main .banner{
  position: relative;
  display: none;
  outline: none;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  .linear-gradient(#4CAF50, #77cc6d);
  background-repeat: repeat-x;

  .bb-icon {
      margin: 0 auto 30px;
      background-color: transparent;
      border: 2px solid #fff;
      width: 144px;
      height: 144px;
      font-size: 108px;
      line-height: 140px;
      display: block;
      font-weight: 500;
      color: #fff;
      text-align: center;
      cursor: default;
      border-radius: 15%;
  }
  .lead {
    margin: 0 auto 30px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    .btn {
      width: 100%;
      padding: 15px 30px;
      font-size: 20px;
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
  .version {
    margin-top: -15px;
    margin-bottom: 30px;
    color: #ABE0BD;
  }
}

.content-head {
  display: none;
  padding: 0px 15px;
  text-align: center;
}

@media (min-width: @screen-sm-min) {
  main .banner{
    padding: 80px 0;
    .lead {
      font-size: 24px;
      .btn {
        width: auto;
      }
    }
  }
}


@media (min-width: @screen-md-min) {
  main{
    .lead {
      width: 80%;
      font-size: 30px;
    }
  }
}
